@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/dmserifdisplay/v10/-nFnOHM81r4j6k0gjAW3mujVU2B2K_c.ttf) format("truetype")
}

body{
    height: 100%;
}
.container{
    width: 1536px;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.-bottom-1px{
    bottom: -1px;
}

.i-carbon-arrow-up-right {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' display='inline-block' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M10 6v2h12.59L6 24.59L7.41 26L24 9.41V22h2V6H10z'/%3E%3C/svg%3E")
}

.i-carbon-arrow-up-right {
    background-color: currentColor;
    display: inline-block;
    height: 1.2em;
    mask: var(--un-icon) no-repeat;
    mask-size: 100% 100%;
    -webkit-mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    width: 1.2em
}

.i-carbon-star {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' display='inline-block' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m16 6.52l2.76 5.58l.46 1l1 .15l6.16.89l-4.38 4.3l-.75.73l.18 1l1.05 6.13l-5.51-2.89L16 23l-.93.49l-5.51 2.85l1-6.13l.18-1l-.74-.77l-4.42-4.35l6.16-.89l1-.15l.46-1L16 6.52M16 2l-4.55 9.22l-10.17 1.47l7.36 7.18L6.9 30l9.1-4.78L25.1 30l-1.74-10.13l7.36-7.17l-10.17-1.48Z'/%3E%3C/svg%3E")
}

.i-carbon-star {
    background-color: currentColor;
    display: inline-block;
    height: 1.2em;
    mask: var(--un-icon) no-repeat;
    mask-size: 100% 100%;
    -webkit-mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    width: 1.2em
}

/* 心知天气插件 */
.sc-gisBJw{
    left: auto !important;
    right: 0.25rem !important;
}